<!-- <p>user-management works!</p>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredUsers">
        <td>{{ item.id }}</td>
        <td><input type="text" [(ngModel)]="item.name"></td>
        <td><input type="text" [(ngModel)]="item.email"></td>
        <td><input type="text" [(ngModel)]="item.roleId"></td>
        <td>
          <button (click)="saveUser(item)">Save</button>
          <button (click)="deleteUser(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table> -->

  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role ID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredUsers">
            <td class="align-middle">{{ item.id }}</td>
            <td class="align-middle"><input type="text" [(ngModel)]="item.name"></td>
            <td class="align-middle"><input type="text" [(ngModel)]="item.email"></td>
            <!-- TODO gestire i ruoli con endpoint e usare una select -->
            <td class="align-middle"><input type="text" [(ngModel)]="item.roleId"></td>
            <td class="text-center align-middle">
              <div class="d-flex justify-content-between flex-column flex-md-row">
                <!-- TODO gestire modifica -->
                <button class="btn button-link-save mb-2 mb-md-0 me-md-2">Save</button>
                <button class="btn button-link-delete">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  