.login-container {
    height: 100vh;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}



.nav-link:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

.button-link {
    background-color: #8A80CD;
    border: none;
    color: white !important;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.button-link:hover {
    background-color: #534d7a;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}