.home-container {
    height: 100vh;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

.button-link {
    background-color: #8A80CD;
    border: none;
    color: white !important;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.button-link:hover {
    background-color: #534d7a;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.button-link-minus {
    background-color: #8a80cdab;
    border: none;
    color: white !important;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.button-link-plus {
    background-color: #8A80CD;
    border: none;
    color: white !important;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.button-link-minus:hover,
.button-link-plus:hover {
    background-color: #534d7a;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-list {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

/* MODAL STYLES */

/* .modal form {
    width: 300px;
    
} *//* Adjust width as needed */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.modal-content {
    width: 80%; 
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.modal-header,
.modal-footer {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.modal-body {
    padding: 20px 0;
}

.modal-title {
    margin-bottom: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.card-contact-header {
    background-color: #ab9090;
}


.contact-row:hover {
    cursor: pointer;
}



@media (max-width: 768px) {
    .modal {
        margin-top: 15rem;
    }

    .modal-content {
        max-width: 90%;
        margin: 0 auto;
    }

    .contact-list{
        margin-bottom: 2rem;
    }
    .card-mobile{
        margin-top: 2rem;
    }
}


