<!-- <div class="container-fluid login-container">
    <div class="row justify-content-center align-items-center" style="height: 100%;">
        <div class="col-md-4">
            <h2 class="text-center mb-4">Benvenuto</h2>
        </div>
    </div>
</div> -->


<div class="container home-container mt-5">

    <!-- Navigazione superiore -->
    <div class="row mb-3 justify-content-center align-items-center">
        <div class="col-md-2">
            <button class="btn button-link" (click)="openModal()">New Contact</button> <!-- (click)="openNewCo-ntactModal" -->
            <!-- l'ho tolto dal bottone perchè mi dava errore, non so come implementare , sorry -->
        </div>
        <div class="col-md-9">
            <button class="btn button-link w-100">Filtri</button>
        </div>
    </div>

    <!-- Search bar -->
    <div class="row mb-3 justify-content-center align-items-center">
        <input type="text" [(ngModel)]="searchBarText" (ngModelChange)="search()">
    </div>

    <div class="row justify-content-center align-items-center">
        <!-- Lista di contatti -->
        <div class="col-md-5">
            <div class="contact-list">
                <h3>Elenco Contatti</h3>
                <table>
                    <thead>
                      <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let contact of this.filteredContacts">
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.email }}</td>
                      </tr>
                    </tbody>
                  </table>
                <!--<div class="text-center">
                    <button class="btn button-link-minus">Pag -</button>
                    <button class="btn button-link-plus">Pag +</button>
                </div>-->
            </div>
        </div>
        <!-- Dettaglio Contatto -->
        <div class="col-md-6">
            <div class="contact-list">
                <h3>Dettaglio completo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal" *ngIf="modalOn">
    <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" class="form-control" placeholder="Enter first name" [(ngModel)]="contactForm.firstName">
    </div>
    <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="contactForm.lastName" class="form-control" placeholder="Enter last name">
    </div>
    <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="title" [(ngModel)]="contactForm.title" class="form-control" placeholder="Enter title">
    </div>
    <div class="form-group">
    <label for="phoneNumber">Phone Number:</label>
    <input type="tel" id="phoneNumber" [(ngModel)]="contactForm.phoneNumber" class="form-control" placeholder="Enter phone number">
    </div>
    <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="contactForm.email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
    <label for="department">Department:</label>
    <input type="text" id="department" [(ngModel)]="contactForm.department" class="form-control" placeholder="Enter department">
    </div>
    <div class="form-group">
    <label for="company">Company:</label>
    <input type="text" id="company" [(ngModel)]="contactForm.company" class="form-control" placeholder="Enter company">
    </div>
    <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" id="location" [(ngModel)]="contactForm.location" class="form-control" placeholder="Enter location">
    </div>
    <div class="form-group">
    <label for="isExternal">Is External:</label>
    <input type="checkbox" id="isExternal" [(ngModel)]="contactForm.isExternal" class="form-control">
    </div>
    <div class="form-group">
    <label for="notes">Notes:</label>
    <textarea id="notes" [(ngModel)]="contactForm.notes" class="form-control" placeholder="Enter notes"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="insertContact()">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="closeModal()">Close</button>
</div>