<!-- <div class="container-fluid login-container">
    <div class="row justify-content-center align-items-center" style="height: 100%;">
        <div class="col-md-4">
            <h2 class="text-center mb-4">Benvenuto</h2>
        </div>
    </div>
</div> -->


<div class="container home-container mt-5">

    <!-- Navigazione superiore -->
    <div class="row mb-3 justify-content-center align-items-center">
        <div class="col-md-2">
            <button class="btn button-link">New Contact</button> <!-- (click)="openNewCo-ntactModal" -->
            <!-- l'ho tolto dal bottone perchè mi dava errore, non so come implementare , sorry -->
        </div>
        <div class="col-md-9">
            <button class="btn button-link w-100">Filtri</button>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <!-- Lista di contatti -->
        <div class="col-md-5">
            <div class="contact-list">
                <h3>Elenco Contatti</h3>
                <ul>
                    <li>Mario Rossi</li>
                    <li>Paolo Bianchi</li>
                    <li>Luigi Verdi</li>
                </ul>
                <div class="text-center">
                    <button class="btn button-link-minus">Pag -</button>
                    <button class="btn button-link-plus">Pag +</button>
                </div>
            </div>
        </div>
        <!-- Dettaglio Contatto -->
        <div class="col-md-6">
            <div class="contact-list">
                <h3>Dettaglio completo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat.</p>
            </div>
        </div>
    </div>


</div>